*.h5
*.so
*.parquet
*.txt
*aag*
*universe*
*.csv

aglv_factor/
aglv_factor_test/
forintern/
Data_origin/
index_data/
universe/

lab_aglv/aglv_factor/
lab_aglv/aglv_factor_test/
lab_aglv/forintern/
lab_aglv/Data_origin/
lab_aglv/index_data/
lab_aglv/universe/
index_data/

